@using Learn_MVC_in_7_days.ViewModels
@model EmployeeListViewModel
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    MyView
}
@section ContentBody{
    <div>
        @{
            Html.RenderAction("GetAddNewLink");
        }
        <a href="/Employee/BulkUpload">BulkUpload</a> @*will call index method only in Register routes*@ 
        <a href="/BulkUpload/Index">BulkUpload</a>
        <table border="1">
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>
            @foreach (EmployeeViewModel item in Model.Employees)
            {
                <tr>
                    <td>@item.EmployeeName</td>
                    <td style="background-color:@item.SalaryColor">@item.Salary</td>
                </tr>
            }
        </table>
    </div>
}