
@{
    ViewBag.Title = "Aboutus";
}
        <div id="main" class="clearfix">
            <section id="content" role="main" class="clearfix">
                <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » <a href="/home">Corporate</a> » About Us</nav></div>                                                      <div class="region region-content">
                    <div id="block-system-main" class="block block-system">


                        <div class="content">
                            <div about="/about-us" typeof="sioc:Item foaf:Document" class="ds-1col node node-static-pages node-full view-mode-full clearfix">


                                <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><h1 style="color:#E1114C">About Us</h1></div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                            <p>Versatile is a staffing services provider recognized globally for its innovative solutions. We have been able to provide game changing results for our customers by combining our industry experience. Our unwavering commitment to customers has paved the way for long-standing customer relationships. At all levels, our employees continually strive to provide a superior experience to customers through their passion and excellence. We pride ourselves on our traditions of innovation and process excellence that are coupled with high employee and customer satisfaction levels. Versatile is an ISO compliant organization. We believe that when passionate people come together in an endeavor to achieve excellence, we can build services that have an impact on our customers’ core business.</p>
                                            <h4 class="ourvissiontitle" style="color:#E1114C">Our Vision and Mission</h4>
                                            <h5 class="ourvission" style="color:#E1114C">Vision</h5>
                                            <p>Our vision is to be experts in each market we enter, offering unquestioned value and extraordinary service to achieve mutual success and growth for our employees, customers and shareholders.</p>
                                            <h5 class="ourmission" style="color:#E1114C">Mission</h5>
                                            <p>Our mission is to drive customer success through impactful solutions. We achieve it through unparalleled passion, a high level of expertise, and a total commitment to our people and our customers.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> <!-- /.block -->
                </div>
            </section>
        </div>


