
@{
    ViewBag.Title = "Careers";
}

        <div id="main" class="clearfix">
            <section id="content" role="main" class="clearfix">
                <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » <a href="/home">Corporate</a> » Careers</nav></div>                                                      <div class="region region-content">
                    <div id="block-system-main" class="block block-system">


                        <div class="content">
                            <div about="/careers" typeof="sioc:Item foaf:Document" class="ds-1col node node-static-pages node-full view-mode-full clearfix">


                                <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><h1 style="color:#E1114C">Careers</h1></div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                            <div class="views-field views-field-body">
                                                <div class="field-content">
                                                    <div class="views-field views-field-field-career-landing-image">
                                                        <p>Working at Versatile is not just about the job. It is about being part of a community. From bonding over lunch to team outings and other exciting events, Versatile undoubtedly have a lot of fun in and outside the office.</p>
                                                        <p>While we love creating solutions that set new benchmarks in the industry, we also take our fun seriously. The camaraderie and all the friendly banter keep the energy levels high the way we want it.</p>
                                                        <p>The people-centric initiatives, employee satisfaction approach, and robust and regularly revamped HR policies have all helped us gain the top slot.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="views-field views-field-field-career-landing-image2">
                                                <div class="views-field views-field-field-career-content2">
                                                    <p>The people are the culture. We also make sure that our people pursue their individual passions. Be it singing in the rain, biking to Leh, or even cooking up a storm for that matter.Working with us means you get an in-depth understanding of a range of industries that are futuristic and impactful. Our Centers Of Excellence help you stay ahead of the game and propel your career to the next level. More importantly, the experience of being at Versatile will help you evolve as a person toward enjoying a more fulfilling life.</p>
                                                </div>
                                            </div>
                                            <div class="views-field views-field-field-career-landing-image3">
                                                <p>&nbsp;We are passionate about what we do. We love teaming up with those who are as passionate as us, about what they do. If you think you can make a difference, please send your resume to <a href="mailto:versatilegroup@yahoo.com">versatilegroup@yahoo.com</a>.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> <!-- /.block -->
                </div>
            </section>
        </div>


