
@{
    ViewBag.Title = "NewsEvents";
}
        <div id="main" class="clearfix">
            <section id="content" role="main" class="clearfix">
                <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » <a href="/home">Corporate</a> » News and Events</nav></div>                                                      <div class="region region-content">
                    <div id="block-system-main" class="block block-system">


                        <div class="content">
                            <div about="/news-and-events" typeof="sioc:Item foaf:Document" class="ds-1col node node-static-pages node-sticky node-full view-mode-full clearfix">
                                <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><h1 style="color:#E1114C">News & Events</h1></div></div></div>
                            </div>

                        </div>

                    </div> <!-- /.block -->
                    <div id="block-quicktabs-news-events" class="block block-quicktabs">


                        <div class="content">
                            <div id="quicktabs-news_events" class="quicktabs-wrapper quicktabs-style-phylactere">
                                <div class="item-list">
                                    <ul class="quicktabs-tabs quicktabs-style-phylactere">
                                        <li class="active first"><a href="/news-and-events?qt-news_events=0#qt-news_events" id="quicktabs-tab-news_events-0" class="active">News</a></li>
                                        <li class="last"><a href="/news-and-events?qt-news_events=1#qt-news_events" id="quicktabs-tab-news_events-1" class="active">Events and Conferences</a></li>
                                    </ul>
                                </div><div id="quicktabs-container-news_events" class="quicktabs_main quicktabs-style-phylactere">
                                    <div id="quicktabs-tabpage-news_events-0" class="quicktabs-tabpage ">
                                        <div id="block-views-news-and-events-block-14" class="block block-views">


                                            <div class="content">
                                                <div class="view view-news-and-events view-id-news_and_events view-display-id-block_14 view-dom-id-72f2921b89d755b95d67aacdaac8383b">
                                                    <div class="view-content">
                                                        <div class="views-row views-row-1 views-row-odd views-row-first">

                                                            <div class="views-field views-field-title">
                                                                <div class="field-content">
                                                                    <div>
                                                                        <a href="">Versatile Staffing Solutions planning to provide HR consultancy for Software Industry as well.Try providing cheap labour for Software.</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="views-row views-row-2 views-row-even">
                                                            <div class="views-field views-field-title">
                                                                <div class="field-content">
                                                                    <div>
                                                                        <a href="">Gangadhar joins Versatile as COO.Gangadhar was previously Delivery head at AVI Networks, and before that, Arista Networks.</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="views-row views-row-3 views-row-odd">
                                                            <div class="views-field views-field-title">
                                                                <div class="field-content">
                                                                    <div>
                                                                        <a href="">Versatile to Hire 10 People in the Jigani in 2018 -- Opens an Office in Jigani Industrial Area.</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="views-row views-row-4 views-row-even">
                                                            <div class="views-field views-field-title">
                                                                <div class="field-content">
                                                                    <div>
                                                                        <a href="">Jigani will be its second Corporate office and Development centre in the Bangalore.</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
        </div>

       