
@{
    ViewBag.Title = "Privacy";
}
<div>
    <section id="content" role="main" class="clearfix">
        <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » Privacy Policy</nav></div>                                                      <div class="region region-content">
            <div id="block-system-main" class="block block-system">


                <div class="content">
                    <div about="/privacy-policy" typeof="sioc:Item foaf:Document" class="ds-1col node node-static-pages node-full view-mode-full clearfix">


                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even" property="content:encoded">
                                    <p><strong>Privacy Statement</strong></p>
                                    <p>Versatile Group, Inc. ('Versatile' or 'we') is committed to protecting your online privacy and recognizes the need for appropriate protection and management of any personal information you may share with us.</p>
                                    <p>By personal information we mean any information that may identify an individual, including, but not limited to, a first and last name, physical address (whether residential or official), email address, telephone number or other contact information, that is not available publicly.</p>
                                    <p>This privacy policy is not intended to, nor does it, create any contractual rights or any other legal rights whatsoever, nor does it create any obligations on Versatile in respect of any other party or on behalf of any party. Versatile reserves the right to amend its prevailing privacy policy at any time and will place any such amendments on this web page.</p>
                                    <p><strong>What Information Do We Collect?</strong></p>
                                    <p>We collect information when you voluntarily submit it to us or through other tracking technologies that may record information like how you entered our site, how you navigated through the site, browser software, operating system type, clickstream patterns, and what information was of interest to you.</p>
                                    <p>Versatile is not responsible for the authenticity of the information you voluntarily provide, and it is your duty to ensure it is authentic.</p>
                                    <p>Some pages on this site use cookies, which are small files that the website places on your computer for identification purposes. These files are used for site registration and customization the next time you visit us.</p>
                                    <p>In general, you can visit our website without telling us who you are or revealing any personal information about yourself, except if you download any document from our website, opt to apply online through the links available on the Careers page or write to us through the Contact Us page.</p>
                                    <p><strong>Information Usage</strong></p>
                                    <p>The information collected through various means may be used for different purposes such as to communicate with users to provide requested services and in regards to issues/queries relating to our offerings, for surveys, feedback, employment openings, and improvement of this website or any other related purpose. We may also use the information for analyzing user behavior to measure interest in specific items posted on our site.</p>
                                    <p>As a global organization, the data we collect may be transferred internally throughout Versatile, including subsidiaries located in other parts of the world. We do not transfer, sell, share, rent or lease personal information about you to any third parties without your consent. However, we may need to share information with law enforcement agencies, to investigate, prevent, or to take action regarding illegal activities.</p>
                                    <p><strong>External Links</strong></p>
                                    <p>Versatile corporate website provides links to other third party websites. Even if the third party is affiliated with Versatile through a business partnership or otherwise, we are not responsible for the privacy practices or the contents of such websites, nor do we take any responsibility for the opinions of third parties expressed on or through our website. These links are provided to you for convenience only, and you access them at your own risk.</p>
                                    <p><strong>Data Security</strong></p>
                                    <p>We take appropriate steps to maintain the security of your data on sites related to the organization. However, you should understand that the open nature of the Internet is such that data may flow over networks without security measures and may be accessed and used by people other than those for whom the data is intended. </p>
                                    <p><strong>Data Retention</strong></p>
                                    <p>We may retain your personal information as long as there is a business requirement, or if otherwise required under applicable laws.</p>
                                    <p><strong>Contact Us</strong></p>
                                    <p>If you have any questions or suggestions regarding this privacy statement, including information collection, use, security; or to update/delete your personal information, you can send us an e-mail at <a href="mailto:privacy@Versatile.com">privacy@Versatile.com</a>.</p>
                                    <p>We welcome your questions and suggestions.</p>
                                    <p><strong>Changes to this Privacy Statement</strong></p>
                                    <p>Versatile may change its privacy practices as and when the need arises, and will post an updated Privacy Statement on this webpage.</p>
                                    <p>Last revised: Apr 17, 2017 </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->


    </section>
</div>

