
@{
    ViewBag.Title = "consumerlending";
}

        <div id="main" class="clearfix">


            <section id="content" role="main" class="clearfix">
                <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » <a href="/home">Industries</a> » Consumer Lending</nav></div>                                                      <div class="region region-content">
                    <div id="block-system-main" class="block block-system">


                        <div class="content">
                            <div about="/consumer-lending" typeof="sioc:Item foaf:Document" class="ds-1col node node-practice-pages node-full view-mode-full clearfix">


                                <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><h1 style="color:#E1114C">Consumer Lending</h1></div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                            <p>Achieving success in the Lending Industry requires pioneering ideas and solutions. Over the years, we have been involved in delivering large scale enterprise platforms as well as strategic business applications to the Consumer Lending industry. Our proven experience in strong systems integration and consulting experience has made us a preferred partner for leading financial institutions.</p>
                                            <p> </p>
                                            <p> </p>
                                            <p>We provide end-to-end solutions that range from Custom Application Development to specialized support services. Our expertise in System Integration, Business Intelligence, Analytics areas are designed to complement your business growth.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-name-field-the-tavant-advantage-headi field-type-text-long field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <h4 style="color:#E1114C">Versatile Advantage</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-name-field-the-tavant-advantage field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <ul style="font-family: 'Open Sans', sans-serif; font-size: 12px; margin-top: 0px; margin-bottom: 1.5em; margin-left: 2em; outline: 0px; list-style-image: initial; line-height: 20.390625px;">
                                                <li style="font-family: inherit; font-style: inherit; outline: 0px;">Domain knowledge leading to solutions that meet specific organizational needs and goals of Banking and Financial companies</li>
                                                <li style="font-family: inherit; font-style: inherit; outline: 0px;">Experience in building large-scale enterprise platforms as well as strategic business applications for Lending firms</li>
                                                <li style="font-family: inherit; font-style: inherit; outline: 0px;">Expertise in building Service Oriented Architecture (SOA) based end-to-end Loan Origination Platform comprising Point of Sale (POS) and Loan Fulfillment for global institutions</li>
                                                <li style="font-family: inherit; font-style: inherit; outline: 0px;">Expertise in building Loan Servicing and Default Management Systems</li>
                                                <li style="font-family: inherit; font-style: inherit; outline: 0px;">Focus on platform-based enhancement of existing applications and systems to generate quick ROI and operational innovation</li>
                                                <li style="font-family: inherit; font-style: inherit; outline: 0px;">Tool development, rapid prototyping and distributed agile development methodologies</li>
                                                <li style="font-family: inherit; font-style: inherit; outline: 0px;">Cost effective solutions through the optimum use of open source and commercial technology components</li>
                                                <li style="font-family: inherit; font-style: inherit; outline: 0px;">Ready to use Solution accelerators that improve time to market</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> <!-- /.block -->
                </div>
                <!-- /.region -->
                <div class="region region-content-first">
                    <div id="block-views-our-offerings-images-block" class="block block-views">

                        <h4 style="color:#E1114C">Service Offerings</h4>

                        <div class="content">
                            <div class="view view-our-offerings-images view-id-our_offerings_images view-display-id-block view-dom-id-ab94f4f2cbc60e60dcf5039452b68ba7">



                                <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                                        <div class="views-field views-field-field-our-offering-images">
                                            <div class="field-content">
                                                <div>
                                                    <a href="/business-intelligence"><img typeof="foaf:Image" src="~/Images/bi.png" width="153" height="87" alt="Business Intelligence" title="Business Intelligence" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-practice-1">
                                            <div class="field-content">
                                                <div>
                                                    <p><a href="/business-intelligence">Business Intelligence</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-our-offering-images-3">
                                            <div class="field-content">
                                                <div>
                                                    <a href="/testing"><img typeof="foaf:Image" src="~/Images/testing.png" width="153" height="87" alt="Independent Software Testing" title="Independent Software Testing" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-practice-3">
                                            <div class="field-content">
                                                <div>
                                                    <p><a href="/testing">Independent Software Testing</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-our-offering-images-4">
                                            <div class="field-content">
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-practice-4">
                                            <div class="field-content">
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.block -->
                </div>
            </section>
        </div>


