@{
    ViewBag.Title = "Home Page";
}

<div id="main" class="clearfix">
    <div id="topheader" class="clearfix">
        <div class="region region-header">
            <div id="block-views-home-slider-block" class="block block-views">
                <div class="content">
                    <div class="view view-home-slider view-id-home_slider view-display-id-block view-dom-id-98d20eb85db0f1ac556a22f2bfbb0168">
                        <div class="view-content">
                            <div class="skin-default">
                                <div id="views_slideshow_cycle_main_home_slider-block" class="views_slideshow_cycle_main views_slideshow_main">
                                    <div id="views_slideshow_cycle_teaser_section_home_slider-block" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
                                        <div id="views_slideshow_cycle_div_home_slider-block_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-0 views_slideshow_cycle_hidden views-row-even">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
                                                <div class="views-field views-field-field-image">
                                                    <div class="field-content">
                                                        <div>
                                                            <img typeof="foaf:Image" width="1000" height="380" src="~/Images/Motivation.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_home_slider-block_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views_slideshow_cycle_hidden views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
                                                <div class="views-field views-field-field-image">
                                                    <div class="field-content">
                                                        <div>
                                                            <img typeof="foaf:Image" src="~/Images/Passion.png" width="1000" height="380" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_home_slider-block_2" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views_slideshow_cycle_hidden views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
                                                <div class="views-field views-field-field-image">
                                                    <div class="field-content">
                                                        <div>
                                                            <img typeof="foaf:Image" src="~/Images/Careers.png" width="1000" height="380" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-slideshow-controls-bottom clearfix">
                                    <div id="widget_pager_bottom_home_slider-block" class="views-slideshow-pager-fields widget_pager widget_pager_bottom views_slideshow_pager_field">
                                        <div id="views_slideshow_pager_field_item_bottom_home_slider-block_0" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views_slideshow_active_pager_field_item views-row-odd">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    <div>
                                                        0
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_pager_field_item_bottom_home_slider-block_1" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views-row-even">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    <div>
                                                        1
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_pager_field_item_bottom_home_slider-block_2" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views-row-even">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    <div>
                                                        2
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="preface-block">
        <div class="region region-preface-first">
            <div id="block-views-news-and-events-block-2" class="block block-views">
                <h2>News &amp; Events</h2>
                <div class="content">
                    <div class="view view-news-and-events view-id-news_and_events view-display-id-block_2 view-dom-id-dcabecba94acbbd67d8396639a86d11a">
                        <div class="view-content">
                            <div class="skin-default">
                                <div id="views_slideshow_cycle_main_news_and_events-block_2" class="views_slideshow_cycle_main views_slideshow_main">
                                    <div id="views_slideshow_cycle_teaser_section_news_and_events-block_2" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
                                        <div id="views_slideshow_cycle_div_news_and_events-block_2_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
                                                <div class="views-field views-field-title">
                                                    <div class="field-content">
                                                        <div>
                                                            Versatile Staffing Solutions planning to provide HR consultancy for Software Industry as well.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="views-field views-field-field-long-text">
                                                    <div class="field-content">
                                                        <div>
                                                            Try providing cheap labour for Software.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_news_and_events-block_2_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">

                                                <div class="views-field views-field-title">
                                                    <div class="field-content">
                                                        <div>
                                                            Gangadhar joins Versatile as COO.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="views-field views-field-field-long-text">
                                                    <div class="field-content">
                                                        <div>
                                                            Gangadhar was previously Delivery head at AVI Networks, and before that, Arista Networks.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_news_and_events-block_2_2" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-3 views_slideshow_cycle_hidden views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">

                                                <div class="views-field views-field-title">
                                                    <div class="field-content">
                                                        <div>
                                                            Versatile to Hire 10 People in the Jigani in 2018 -- Opens an Office in Jigani Industrial Area.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="views-field views-field-field-long-text">
                                                    <div class="field-content">
                                                        <div>
                                                            Jigani will be its second Corporate office and Development centre in the Bangalore.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="more-link">
                            <a href="/Home/newsevents">
                                Read more
                            </a>
                        </div>



                    </div>
                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>
    <div class="preface-block">
        <div class="region region-preface-middle">
            <div id="block-views-testimonials-block-8" class="block block-views">
            <h2>Testimonials</h2>
            <div class="content">
                    <div class="view view-testimonials view-id-testimonials view-display-id-block_8 view-dom-id-adf119f67f5bd126c5fac49bb01bf393">
                        <div class="view-content">
                            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last"><div class="views-field views-field-body">
                                    <div class="field-content">
                                        <div>
                                            <p>@*Testimonial statement*@
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-field views-field-field-long-text">
                                    <div class="field-content">
                                        <div>
                                            <p>@*Testimonial given by user and Designation plus company*@
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="more-link">
                            <a href="/Home/testimonials">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>
    <div class="preface-block remove-margin">
        <div class="region region-preface-last">
            <div id="block-views-awards-block" class="block block-views">
                <h2>Awards</h2>
                <div class="content">
                    <div class="view view-awards view-id-awards view-display-id-block view-dom-id-87402608d2114b69074f718790a0c4c8">
                        <div class="view-content">
                            <div class="views-row views-row-1 views-row-odd views-row-first">
                                <div class="views-field views-field-field-practice-image">
                                    <div class="field-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="views-row views-row-2 views-row-even">
                                <div class="views-field views-field-field-practice-image">
                                    <div class="field-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="views-row views-row-3 views-row-odd">
                                <div class="views-field views-field-field-practice-image">
                                    <div class="field-content">
                                        <div>
                                            <img typeof="foaf:Image" src=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="views-row views-row-4 views-row-even">
                                <div class="views-field views-field-field-practice-image">
                                    <div class="field-content">
                                        <div>
                                            <img typeof="foaf:Image" src=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="views-row views-row-5 views-row-odd views-row-last">
                                <div class="views-field views-field-field-practice-image">
                                    <div class="field-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="more-link">
                            <a href="/Home/awards">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>