@{
    ViewBag.Title = "Home Page";
}

<div id="main" class="clearfix">
    <div id="topheader" class="clearfix">

        <div class="region region-header">
            <div id="block-views-home-slider-block" class="block block-views">


                <div class="content">
                    <div class="view view-home-slider view-id-home_slider view-display-id-block view-dom-id-98d20eb85db0f1ac556a22f2bfbb0168">



                        <div class="view-content">

                            <div class="skin-default">

                                <div id="views_slideshow_cycle_main_home_slider-block" class="views_slideshow_cycle_main views_slideshow_main">
                                    <div id="views_slideshow_cycle_teaser_section_home_slider-block" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
                                        <div id="views_slideshow_cycle_div_home_slider-block_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">

                                                <div class="views-field views-field-field-image">
                                                    <div class="field-content">
                                                        <div>
                                                            <img typeof="foaf:Image" src="http://www.tavant.com/sites/default/files/slider_images/10_Slide_bann_1000x380.png" width="1000" height="380" alt="TAVANT VELOX" title="TAVANT VELOX" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_home_slider-block_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">

                                                <div class="views-field views-field-field-image">
                                                    <div class="field-content">
                                                        <div>
                                                            <img typeof="foaf:Image" src="http://www.tavant.com/sites/default/files/slider_images/HWVanguardAward_Slide%20banner%281000%20x%20380px%29.jpg" width="1000" height="380" alt="Hassan Rashid among 2016 HousingWire Vanguard Award winners" title="Hassan Rashid among 2016 HousingWire Vanguard Award winners" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_home_slider-block_2" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-3 views_slideshow_cycle_hidden views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">

                                                <div class="views-field views-field-field-image">
                                                    <div class="field-content">
                                                        <div>
                                                            <img typeof="foaf:Image" src="http://www.tavant.com/sites/default/files/slider_images/home_passion.jpg" width="1000" height="380" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_home_slider-block_3" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-4 views_slideshow_cycle_hidden views-row-even">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">

                                                <div class="views-field views-field-field-image">
                                                    <div class="field-content">
                                                        <div>
                                                            <img typeof="foaf:Image" src="http://www.tavant.com/sites/default/files/slider_images/best-place-to-work-award-18Aug15.jpg" width="1000" height="380" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-slideshow-controls-bottom clearfix">
                                    <div id="widget_pager_bottom_home_slider-block" class="views-slideshow-pager-fields widget_pager widget_pager_bottom views_slideshow_pager_field">
                                        <div id="views_slideshow_pager_field_item_bottom_home_slider-block_0" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views_slideshow_active_pager_field_item views-row-odd">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    <div>
                                                        1
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_pager_field_item_bottom_home_slider-block_1" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views-row-even">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    <div>
                                                        2
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_pager_field_item_bottom_home_slider-block_2" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views-row-odd">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    <div>
                                                        3
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_pager_field_item_bottom_home_slider-block_3" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views-row-even">
                                            <div class="views-field-counter">
                                                <div class="views-content-counter">
                                                    <div>
                                                        4
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






                    </div>
                </div>

            </div> <!-- /.block -->
            <div id="block-block-81" class="block block-block">


                <div class="content">

                    <script type="text/javascript">
jQuery( document ).ready(function() { var url = 'http://www.tavant.com/velox';
 var content = '<a class="banner_link" target="_blank"  href="' +  url + '">' + jQuery('#views_slideshow_cycle_div_home_slider-block_0').find('.field-content div').html() + '</a>'; jQuery('#views_slideshow_cycle_div_home_slider-block_0').find('.field-content div').html(content); });
                    </script>


                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>

    <div class="preface-block">
        <div class="region region-preface-first">
            <div id="block-views-news-and-events-block-2" class="block block-views">

                <h2>News &amp; Events</h2>

                <div class="content">
                    <div class="view view-news-and-events view-id-news_and_events view-display-id-block_2 view-dom-id-dcabecba94acbbd67d8396639a86d11a">



                        <div class="view-content">

                            <div class="skin-default">

                                <div id="views_slideshow_cycle_main_news_and_events-block_2" class="views_slideshow_cycle_main views_slideshow_main">
                                    <div id="views_slideshow_cycle_teaser_section_news_and_events-block_2" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
                                        <div id="views_slideshow_cycle_div_news_and_events-block_2_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">

                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <div>
                                                            Tavant Attends Imagine 2017 as a Silver Sponsor
                                                        </div>
                                                    </span>
                                                </div>
                                                <div class="views-field views-field-field-long-text">
                                                    <div class="field-content">
                                                        <div>
                                                            To showcase disruptive digital solutions for the retail industry
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_news_and_events-block_2_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">

                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <div>
                                                            Dain Ehring joins Tavant as Senior Vice President, Market Development
                                                        </div>
                                                    </span>
                                                </div>
                                                <div class="views-field views-field-field-long-text">
                                                    <div class="field-content">
                                                        <div>
                                                            Ehring was previously SVP at Core Logic, and before that, founded Dorado Corporation
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="views_slideshow_cycle_div_news_and_events-block_2_2" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-3 views_slideshow_cycle_hidden views-row-odd">
                                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">

                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <div>
                                                            Tavant to Hire 300 People in the U.S. in 2017 -- Opens an Office in Texas
                                                        </div>
                                                    </span>
                                                </div>
                                                <div class="views-field views-field-field-long-text">
                                                    <div class="field-content">
                                                        <div>
                                                            The new office in Dallas, TX will be its second development center and innovation lab in the U.S.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="more-link">
                            <a href="/news-and-events">
                                Read more
                            </a>
                        </div>



                    </div>
                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>
    <div class="preface-block">
        <div class="region region-preface-middle">
            <div id="block-views-testimonials-block-8" class="block block-views">

                <h2>Testimonials</h2>

                <div class="content">
                    <div class="view view-testimonials view-id-testimonials view-display-id-block_8 view-dom-id-adf119f67f5bd126c5fac49bb01bf393">



                        <div class="view-content">
                            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                                <div class="views-field views-field-body">
                                    <div class="field-content">
                                        <div>
                                            <p>"Tavant's understanding of the business domain, their ability to consistently deliver results and willingness to go the extra mile to make us successful, has made them a preferred partner. The...
                                        </div>
                                    </div>
                                </div>
                                <div class="views-field views-field-field-long-text">
                                    <div class="field-content">
                                        <div>
                                            <p>
                                                Mick Johnson<br />
                                                CEO<br />
                                                Doosan Information and Communications America, LLC
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="more-link">
                            <a href="/testimonials">
                                Read more
                            </a>
                        </div>



                    </div>
                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>
    <div class="preface-block remove-margin">
        <div class="region region-preface-last">
            <div id="block-views-awards-block" class="block block-views">

                <h2>Awards</h2>

                <div class="content">
                    <div class="view view-awards view-id-awards view-display-id-block view-dom-id-87402608d2114b69074f718790a0c4c8">



                        <div class="view-content">
                            <div class="views-row views-row-1 views-row-odd views-row-first">

                                <div class="views-field views-field-field-practice-image">
                                    <div class="field-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="views-row views-row-2 views-row-even">

                                <div class="views-field views-field-field-practice-image">
                                    <div class="field-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="views-row views-row-3 views-row-odd">

                                <div class="views-field views-field-field-practice-image">
                                    <div class="field-content">
                                        <div>
                                            <img typeof="foaf:Image" src="http://www.tavant.com/sites/default/files/HW%20tech%20logo-.jpg" width="129" height="129" alt="HousingWire logo" title="HousingWire logo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="views-row views-row-4 views-row-even">

                                <div class="views-field views-field-field-practice-image">
                                    <div class="field-content">
                                        <div>
                                            <img typeof="foaf:Image" src="http://www.tavant.com/sites/default/files/GPTW_logo_CMYK_thumb_0.png" width="70" height="71" alt="Tavant recognized as a Great Place to Work" title="Great Place to Work - 2014" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="views-row views-row-5 views-row-odd views-row-last">

                                <div class="views-field views-field-field-practice-image">
                                    <div class="field-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="more-link">
                            <a href="/awards">
                                Read more
                            </a>
                        </div>



                    </div>
                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>
    <div class="clear"></div>



    <section id="content" role="main" class="clearfix">
        <div class="region region-content">
            <div id="block-system-main" class="block block-system">


                <div class="content">
                    <div about="/home" typeof="sioc:Item foaf:Document" class="ds-1col node node-static-pages node-full view-mode-full clearfix">


                    </div>

                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->


    </section> <!-- /#main -->


    <div class="clear"></div>
    <div class="floatin-menu">
        <div class="region region-footer">
            <div id="block-block-5" class="block block-block">


                <div class="content">
                    <p><a href="/about-us">About Us</a>|<a href="/awards">Awards</a>|<a href="/testimonials">Customers &amp; Testimonials</a>|<a href="/news-and-events">News &amp; Events</a>|<a href="/careers">Careers</a>|<a href="/register">Download Center</a>|<a href="/contact-us">Contact Us</a></p>
                    <script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function() {

   var original_position_offset = jQuery('.region-footer').offset();
   sticky_offset = original_position_offset.top;
   jQuery('.region-footer').css('position', 'fixed');
   // every the page is loaded //
   fixscrolltofoot();
});

jQuery(window).scroll(function () {
   // every time the window scrolls //
        var original_position_offset = jQuery('.floatin-menu').offset();
        sticky_offset = original_position_offset.top;
   fixscrolltofoot();

});

function fixscrolltofoot () {
   var sticky_height = jQuery('.region-footer').outerHeight();
   var where_scroll = jQuery(window).scrollTop();
   var window_height = jQuery(window).height();


   if((where_scroll + window_height) > sticky_offset) {
       jQuery('.region-footer').css('position', 'relative');
   }

   if((where_scroll + window_height) < (sticky_offset + sticky_height))  {
       jQuery('.region-footer').css('position', 'fixed');
   }
}
// ]]></script>
                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>
</div>