
@{
    ViewBag.Title = "ManagementTeam";
}


        <div id="main" class="clearfix">
            <section id="content" role="main" class="clearfix">
                <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » <a href="/home">People</a> » Management Team</nav></div>                                                      <div class="region region-content">
                    <div id="block-system-main" class="block block-system">


                        <div about="/contact-us" typeof="sioc:Item foaf:Document" class="ds-1col node node-static-pages node-full view-mode-full clearfix">
                            <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><h1 style="color:#E1114C">Management Team</h1></div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" property="content:encoded">
                                        <div class="con-career">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- /.block -->
                    <div id="block-views-testimonials-block-9" class="block block-views">


                        <div class="content">
                            <div class="view view-testimonials view-id-testimonials view-display-id-block_9 view-dom-id-1a7bbbb8a2f9904a22f4b1da892be834">



                                <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first">

                                        <div class="views-field views-field-field-image">
                                            <div class="field-content">
                                                <div>
                                                    <img typeof="foaf:Image"  src="~/Images/photo.jpg" width="126" height="131" alt="Naveen Kumar S" title="Naveen Kumar S"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-long-text">
                                            <div class="field-content">
                                                <div>
                                                    <p>Naveen Kumar S <span>,Chief Executive Officer</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-body">
                                            <div class="field-content">
                                                <div>
                                                    <p>Naveen is the founder and CEO of Versatile Groups. Prior to Versatile, Naveen was the Senior Software Engineer, Consumer Lending at Tavant Technologies, where he played a key role in building services that helped merchants buy Mortgage on the .NET platform. He has served as the Software Engineer at Tech Mahindra, where he was responsible for development, deployment, customer service and operations.Naveen holds a Bachelor's degree in Telecommunication Engineering from Visveswaraya Technological University, Belagavi.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-2 views-row-even">

                                        <div class="views-field views-field-field-image">
                                            <div class="field-content">
                                                <div>
                                                    <img typeof="foaf:Image" src="http://www.tavant.com/sites/default/files/Hassan%20Rashid_1.jpg" width="126" height="131" alt="Hassan Rashid" title="Hassan Rashid" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-long-text">
                                            <div class="field-content">
                                                <div>
                                                    <p>Hassan Rashid <span>Chief Revenue Officer</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-body">
                                            <div class="field-content">
                                                <div>
                                                    <p>As the Chief Revenue Officer, Hassan steers Tavant’s strategy for profitable revenue and continued, accelerated growth, supported by a fully aligned business development engine. In addition, Hassan leads Sales &amp; Marketing for Tavant. He has a successful track record of scaling winning businesses by focusing on customer success and aligning offerings based on changing market needs. Hassan has played a pivotal role in driving Tavant’s 2x2 strategy that focused on doubling revenue in two years. </p>
                                                    <p>Prior to joining Tavant, Hassan was the Senior Vice President, Channel Sales and Business Development at Dorado Corporation, where he was involved in developing the organization’s sales infrastructure and strategic partnerships. Hassan also served in senior-level positions at Homestore, Inc. and Freddie Mac. He was part of a core team that was responsible for developing and delivering ‘Loan Prospector’ to the mortgage industry. In addition, he has held leading positions at major consulting companies, delivering a broad array of solutions to HUD (U.S. Department of Housing and Urban Development). Hassan holds a Bachelor’s degree in Computer Management and Data Processing from West Virginia Institute of Technology, Montgomery, WV.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-3 views-row-odd">

                                        <div class="views-field views-field-field-image">
                                            <div class="field-content">
                                                <div>
                                                    <img typeof="foaf:Image" src="http://www.tavant.com/sites/default/files/manish%20arya_1.jpg" width="126" height="131" alt="Manish Arya" title="Manish Arya" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-long-text">
                                            <div class="field-content">
                                                <div>
                                                    <p>Manish Arya <span>Chief Technology Officer</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-body">
                                            <div class="field-content">
                                                <div>
                                                    <p>Manish is responsible for overseeing the technological progress and evolution of Tavant. Prior to joining Tavant, Manish provided technical leadership to the team at Amazon.com. Under his leadership, Amazon re-architected its product catalog management system and laid the foundation for a broad range of system scaling efforts. He also was a part of Junglee, where he architected and built an all-Java platform for one of the first eCommerce comparison shopping engines, which served many portals, including Yahoo, for its original shopping guide. He has also worked at IBM's Almaden Research Center, where he developed a medical image database system in collaboration with UCLA’s Radiological Imaging Lab. In addition, he also developed several components of the "Garlic" system — an enhanced version of DB2 that supports management of external data. Manish holds a Bachelor's degree in Electrical Engineering and Computer Science, and a Master’s degree in Computer Science from UC Berkeley.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>

                    </div> <!-- /.block -->
                </div>
                <!-- /.region -->


            </section>
        </div>



