
@{
    ViewBag.Title = "manufacturing";
}

        <div id="main" class="clearfix">


            <section id="content" role="main" class="clearfix">
                <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » <a href="/home">Industries</a> » Manufacturing</nav></div>                                                      <div class="region region-content">
                    <div id="block-system-main" class="block block-system">


                        <div class="content">
                            <div about="/manufacturing" typeof="sioc:Item foaf:Document" class="ds-1col node node-practice-pages node-full view-mode-full clearfix">


                                <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><h1 style="color:#E1114C">Manufacturing</h1></div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                            <p>Being a manufacturing powerhouse in a fluctuating global economy comes with challenges that can be effectively overcome with agile strategies and solutions that ensure optimum ROIs.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-name-field-the-tavant-advantage-headi field-type-text-long field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <h4 style="color:#E1114C">Versatile Advantage</h4>
                                        </div>
                                    </div>
                                </div><div class="field field-name-field-the-tavant-advantage field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <ul>
                                                <li>Deep domain experience in manufacturing sectors such as Industrial Equipment, Construction Equipment, Agricultural Equipment, Doors &amp; Hardware, Heating Ventilation &amp; Air Conditioning (HVAC), Material Handling, and Agriculture and Farming Equipment</li>
                                                <li>Expertise in enterprise Business Intelligence solutions with focus on Sales, Marketing and Service Intelligence</li>
                                                <li>Business Rules Optimization and adeptness in implementing innovative aftermarket solutions</li>
                                                <li>Usage of flexible and modular architecture to meet unique business process needs</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> <!-- /.block -->
                </div>
                <!-- /.region -->
                <div class="region region-content-first">
                    <div id="block-views-our-offerings-images-block-2" class="block block-views">

                        <h4 style="color:#E1114C">Service Offerings</h4>

                        <div class="content">
                            <div class="view view-our-offerings-images view-id-our_offerings_images view-display-id-block_2 view-dom-id-97351e8ee46e2dca2c571839f1f3d46a">



                                <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                        <div class="views-field views-field-field-our-offering-images-3">
                                            <div class="field-content">
                                                <div>
                                                    <a href="/home/manufacturing"><img typeof="foaf:Image" src="~/Images/bi.png" width="153" height="87" alt="Business Intelligence" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-practice-3">
                                            <div class="field-content">
                                                <div>
                                                    <p><a href="/home/manufacturing">Business Intelligence</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-our-offering-images-4">
                                            <div class="field-content">
                                                <div>
                                                    <a href="/home/servicesDevelopment"><img typeof="foaf:Image" src="~/Images/App_dev.png.jpeg" width="153" height="87" alt="" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-practice-4">
                                            <div class="field-content">
                                                <div>
                                                    <p><a href="/home/servicesDevelopment">Application Development &amp; Maintenance</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>

                    </div> <!-- /.block -->
                </div>
                <!-- /.region -->


            </section>
        </div>


