
@{
    ViewBag.Title = "mottoSoftware";
}

<div id="main" class="clearfix">
    <section id="content" role="main" class="clearfix">
        <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » <a href="/home">Motto</a> » Versatile Software Solutions</nav></div>                                                      <div class="region region-content">
            <div id="block-system-main" class="block block-system">


                <div class="content">
                    <div about="/about-us" typeof="sioc:Item foaf:Document" class="ds-1col node node-static-pages node-full view-mode-full clearfix">


                        <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><h1 style="color:#E1114C">Motto of Versatile Software Solutions</h1></div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even" property="content:encoded">
                                    <p>Versatile Software Solutions is a IT solution provider recognized globally for its innovative solutions.</p>
                                    <h4 style="color:#E1114C">Employee Perspective</h4><p>Our main Motto is to provide an awesome opportuinity for the young engineers to work on various technologies and create enterprise solutions to our clients in various industries. We work on only latest technologies in the market providing a large scope for clients.</p>
                                    <h4 style="color:#E1114C">Client Perspective</h4><p>Our main Motto is to provide best IT solution for our clients using best in class technology.</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div> <!-- /.block --> 
        </div>
    </section>
</div>
