
@{
    ViewBag.Title = "retail";
}


        <div id="main" class="clearfix">


            <section id="content" role="main" class="clearfix">
                <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » <a href="/home">Industries</a> » Retail</nav></div>                                                      <div class="region region-content">
                    <div id="block-system-main" class="block block-system">


                        <div class="content">
                            <div about="/retail" typeof="sioc:Item foaf:Document" class="ds-1col node node-practice-pages node-full view-mode-full clearfix">


                                <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><h1 style="color:#E1114C">Retail</h1></div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                            <div class="views-field views-field-body">
                                                <div class="field-content">
                                                    <p>With over a decade of experience, Versatile helps you gain a competitive edge with an optimum combination of technology and domain expertise. We are adept at providing customized and effective eCommerce solutions for mobile and web that include shopping carts, payment handling, loyalty programs, coupon generation &amp; redemption, and other backend services.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-name-field-the-tavant-advantage-headi field-type-text-long field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <h4 style="color:#E1114C">Versatile Advantage</h4>
                                        </div>
                                    </div>
                                </div><div class="field field-name-field-the-tavant-advantage field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <ul>
                                                <li>Experience in building retail websites with critical features such as shopping carts, catalogs, and payment handling</li>
                                                <li>Experience in developing a range of business critical and customized solutions</li>
                                                <li>Expertise in backend services for identity management, coupons generation and redemption</li>
                                                <li>Adherence to high-quality standards with early Quality Assurance and Zero–D methodology</li>
                                                <li>Strong capabilities around open source technologies and commercial tools </li>
                                                <li>Expertise in distributed agile methodologies for faster go-to-market solutions at lower cost </li>
                                                <li>World-class architects to identify, design and develop game-changing solutions</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> <!-- /.block -->
                </div>
                <!-- /.region -->
                <div class="region region-content-first">
                    <div id="block-views-our-offerings-images-block-5" class="block block-views">

                        <h4 style="color:#E1114C">Service Offerings</h4>

                        <div class="content">
                            <div class="view view-our-offerings-images view-id-our_offerings_images view-display-id-block_5 view-dom-id-5451742d9b46823870bbd222650b3d45">



                                <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                                        <div class="views-field views-field-field-our-offering-images">
                                            <div class="field-content">
                                                <div>
                                                    <a href="/home/retail"><img typeof="foaf:Image" src="~/Images/bi.png" width="153" height="87" alt="Business Intelligence" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-practice-1">
                                            <div class="field-content">
                                                <div>
                                                    <p><a href="/home/retail">Business Intelligence</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-our-offering-images-2">
                                            <div class="field-content">
                                                <div>
                                                    <a href="/home/servicesDevelopment"><img typeof="foaf:Image" src="~/Images/App_dev.png.jpeg" width="153" height="87" alt="Application Development &amp; Maintenance" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-practice-2">
                                            <div class="field-content">
                                                <div>
                                                    <p><a href="/home/servicesDevelopment">Application Development & Maintenance</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-our-offering-images-4">
                                            <div class="field-content">
                                                <div>
                                                    <a href="/home/servicestesting"><img typeof="foaf:Image" src="~/Images/testing.png" width="153" height="87" alt="" /></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-field views-field-field-practice-4">
                                            <div class="field-content">
                                                <div>
                                                    <p><a href="/home/servicestesting">Independent Software Testing</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>

                    </div> <!-- /.block -->
                </div>
                <!-- /.region -->


            </section>
        </div>


