
@{
    ViewBag.Title = "servicesStaffing";
}


<div id="main" class="clearfix">
    <section id="content" role="main" class="clearfix">
        <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » <a href="/home">Services</a> » Staffing Solutions</nav></div>                                                      <div class="region region-content">
            <div id="block-system-main" class="block block-system">
                <div class="content">
                    <div about="/contact-us" typeof="sioc:Item foaf:Document" class="ds-1col node node-static-pages node-full view-mode-full clearfix">
                        <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><h1 style="color:#E1114C">Staffing Solutions</h1></div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even" property="content:encoded">
                                    <div class="con-career">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>