
@{
    ViewBag.Title = "servicesDevelopment";
}

<div id="main" class="clearfix">
    <section id="content" role="main" class="clearfix">
        <div id="breadcrumbs"><h2 class="element-invisible">You are here</h2><nav class="breadcrumb"><a href="/">Home</a> » <a href="/" title="">Services</a> » Application Development &amp; Maintenance</nav></div>                                                      <div class="region region-content">
            <div id="block-system-main" class="block block-system">


                <div class="content">
                    <div about="/application-development" typeof="sioc:Item foaf:Document" class="ds-1col node node-practice-pages node-full view-mode-full clearfix">


                        <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><h1 style="color:#E1114C">Application Development & Maintenance</h1></div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even" property="content:encoded">
                                    <div class="views-field views-field-body">
                                        <div class="field-content">
                                            <p>From developing enterprise software that automates primary business processes to maintaining or modernizing legacy systems, our Application Development and Maintenance Services (ADM Services) have made a positive impact to businesses across the world.</p>
                                            <p>Our superior engineering capabilities combined with experience in open source technologies with proven global delivery models helps us provide services across various industries that include Consumer Lending, Manufacturing, eBusiness, eMedia and Capital Markets. In addition to developing custom applications that are ahead of the curve, we also work with product companies to develop software that powers organizations’ core businesses.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field field-name-field-the-tavant-advantage-headi field-type-text-long field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even">
                                    <p>
                                    </p><h4 style="color:#E1114C">Versatile Advantage</h4>

                                </div>
                            </div>
                        </div><div class="field field-name-field-the-tavant-advantage field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even">
                                    <ul>
                                        <li>Domain expertise-led technology leadership</li>
                                        <li>Experience in developing complex enterprise and consumer-facing web-based solutions</li>
                                        <li>Expertise across a range of technologies that includes legacy platforms, cutting-edge and emerging technologies</li>
                                        <li>Experience in developing software for product companies that power core businesses</li>
                                        <li>Proven methodology to transition and support existing processes and applications for consistent quality and results</li>
                                        <li>Improved productivity through greater focus on tool development, rapid prototyping and distributed agile development methodologies</li>
                                        <li>Centre of Excellence that is involved in constant research/innovation in emerging technologies to stay ahead of the curve</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
        <div class="region region-content-first">
            <div id="block-views-our-offerings-images-block-6" class="block block-views">

                <h4 style="color:#E1114C">Industries</h4>

                <div class="content">
                    <div class="view view-our-offerings-images view-id-our_offerings_images view-display-id-block_6 view-dom-id-a364e494eb3ac6d1c01069cc5e927c11">



                        <div class="view-content">
                            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                <div class="views-field views-field-field-our-offering-images-2">
                                    <div class="field-content">
                                        <div>
                                            <a href="/home/manufacturing"><img typeof="foaf:Image" src="~/Images/manufacturing.png" width="153" height="87" alt="Manufacturing" /></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-field views-field-field-practice-2">
                                    <div class="field-content">
                                        <div>
                                            <p><a href="/home/manufacturing">Manufacturing</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-field views-field-field-our-offering-images-3">
                                    <div class="field-content">
                                        <div>
                                            <a href="/home/servicesTesting"><img typeof="foaf:Image" src="~/Images/testing.png" width="153" height="87" alt="Independent Software Testing" /></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-field views-field-field-practice-3">
                                    <div class="field-content">
                                        <div>
                                            <p><a href="/home/servicesTesting">Independent Software Testing</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-field views-field-field-our-offering-images-4">
                                    <div class="field-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-field views-field-field-practice-4">
                                    <div class="field-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


