
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortlink" href="http://www.VersatileGroup.com/" />
    <meta name="generator" content="Drupal 7 (http://drupal.org)" />
    <link rel="canonical" href="http://www.VersatileGroup.com/" />
    <meta name="description" content="Versatile Group is a software services and staffing solutions company recognized globally for innovation, technology expertise, deep domain experience and an employee friendly work culture." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta content="" about="/home" property="dc:title" />
    <meta about="/home" property="sioc:num_replies" content="0" datatype="xsd:integer" />
    <meta name="keywords" content="Software Consulting Services, Software solutions, Offshore Software solutions, IT solutions" />
    <title>Versatile Group</title>
    <link type="text/css" href="~/Scripts/TavantCSSfiles/Tavant1.css" rel="stylesheet" media="all"/>
    <link type="text/css" href="~/Scripts/TavantCSSfiles/Tavant2.css" rel="stylesheet" media="all"/>
    <link type="text/css" href="~/Scripts/TavantCSSfiles/Tavant3.css" rel="stylesheet" media="all"/>
    <link type="text/css" href="~/Scripts/TavantCSSfiles/Tavant4.css" rel="stylesheet" media="all"/>
    <script type="text/javascript" src="~/Scripts/TavantJSfiles/Tavant1.js"></script>
    <script type="text/javascript" src="~/Scripts/TavantJSfiles/Tavant2.js"></script>
    <script type="text/javascript" src="~/Scripts/TavantJSfiles/Tavant3.js"></script>
    <script type="text/javascript" src="~/Scripts/TavantJSfiles/Tavant4.js"></script>
    <script type="text/javascript" src="~/Scripts/TavantJSfiles/Tavant5.js"></script>
    <script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-5467348-2"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
    </script>
    <script type="text/javascript" src="~/Scripts/TavantJSfiles/Tavant6.js"></script>
    <script type="text/javascript" src="~/Scripts/TavantJSfiles/Tavant7.js"></script>
    <script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"responsive_business","theme_token":"l7_lX88kd-1ZA8JGmVVo7aLKHL2bS5aWu0PmgCVTwmw","js":{"sites\/all\/modules\/clientside_validation\/clientside_validation.ie8.js":1,"sites\/all\/modules\/clientside_validation\/clientside_validation_html5\/clientside_validation_html5.js":1,"sites\/all\/modules\/clientside_validation\/clientside_validation.js":1,"misc\/jquery.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/modules\/admin_menu\/admin_devel\/admin_devel.js":1,"sites\/all\/themes\/responsive_business\/js\/jquery.flexslider-min.js":1,"sites\/all\/themes\/responsive_business\/js\/slide.js":1,"sites\/all\/libraries\/colorbox\/jquery.colorbox-min.js":1,"sites\/all\/modules\/colorbox\/js\/colorbox.js":1,"sites\/all\/modules\/colorbox\/styles\/default\/colorbox_style.js":1,"sites\/all\/modules\/panels\/js\/panels.js":1,"sites\/all\/modules\/views_slideshow\/js\/views_slideshow.js":1,"sites\/all\/modules\/tavant_custom\/tavant_custom.js":1,"sites\/all\/libraries\/json2\/json2.js":1,"sites\/all\/libraries\/jquery.cycle\/jquery.cycle.all.js":1,"sites\/all\/modules\/views_slideshow\/contrib\/views_slideshow_cycle\/js\/views_slideshow_cycle.js":1,"sites\/all\/modules\/clientside_validation\/jquery-validate\/jquery.validate.js":1,"sites\/all\/modules\/webform\/js\/webform.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"0":1,"sites\/all\/libraries\/superfish\/supposition.js":1,"sites\/all\/libraries\/superfish\/superfish.js":1,"sites\/all\/libraries\/superfish\/supersubs.js":1,"sites\/all\/modules\/superfish\/superfish.js":1,"sites\/all\/themes\/responsive_business\/js\/jquery.uniform.js":1,"sites\/all\/themes\/responsive_business\/js\/jquery.responsify.init.js":1,"sites\/all\/themes\/responsive_business\/js\/superfish.js":1,"sites\/all\/themes\/responsive_business\/js\/custom.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"modules\/comment\/comment.css":1,"modules\/field\/theme\/field.css":1,"sites\/all\/modules\/footer_sitemap\/footer_sitemap.css":1,"sites\/all\/modules\/mollom\/mollom.css":1,"modules\/node\/node.css":1,"modules\/search\/search.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/colorbox\/styles\/default\/colorbox_style.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/panels\/css\/panels.css":1,"sites\/all\/modules\/tagclouds\/tagclouds.css":1,"sites\/all\/modules\/views_slideshow\/views_slideshow.css":1,"sites\/all\/modules\/views_slideshow\/contrib\/views_slideshow_cycle\/views_slideshow_cycle.css":1,"sites\/all\/modules\/webform\/css\/webform.css":1,"sites\/all\/libraries\/superfish\/css\/superfish.css":1,"sites\/all\/libraries\/superfish\/style\/default.css":1,"sites\/all\/themes\/responsive_business\/css\/awesome-font.css":1,"sites\/all\/themes\/responsive_business\/style.css":1,"sites\/all\/themes\/responsive_business\/css\/responsive.css":1}},"colorbox":{"opacity":"0.85","current":"{current} of {total}","previous":"\u00ab Prev","next":"Next \u00bb","close":"Close","maxWidth":"98%","maxHeight":"98%","fixed":true,"scalePhotos":false},"tavant_custom":{"url":"http:\/\/www.tavant.com\/sites\/default\/files\/11_web_popup_500-x350.png","link":"http:\/\/www.tavant.com\/velox","load_cbox":true,"cookie_lifetime":10800000,"popup_timeout":"15"},"viewsSlideshow":{"home_slider-block":{"methods":{"goToSlide":["viewsSlideshowPager","viewsSlideshowSlideCounter","viewsSlideshowCycle"],"nextSlide":["viewsSlideshowPager","viewsSlideshowSlideCounter","viewsSlideshowCycle"],"pause":["viewsSlideshowControls","viewsSlideshowCycle"],"play":["viewsSlideshowControls","viewsSlideshowCycle"],"previousSlide":["viewsSlideshowPager","viewsSlideshowSlideCounter","viewsSlideshowCycle"],"transitionBegin":["viewsSlideshowPager","viewsSlideshowSlideCounter"],"transitionEnd":[]},"paused":0},"news_and_events-block_2":{"methods":{"goToSlide":["viewsSlideshowPager","viewsSlideshowSlideCounter","viewsSlideshowCycle"],"nextSlide":["viewsSlideshowPager","viewsSlideshowSlideCounter","viewsSlideshowCycle"],"pause":["viewsSlideshowControls","viewsSlideshowCycle"],"play":["viewsSlideshowControls","viewsSlideshowCycle"],"previousSlide":["viewsSlideshowPager","viewsSlideshowSlideCounter","viewsSlideshowCycle"],"transitionBegin":["viewsSlideshowPager","viewsSlideshowSlideCounter"],"transitionEnd":[]},"paused":0}},"viewsSlideshowPager":{"home_slider-block":{"bottom":{"type":"viewsSlideshowPagerFields"}}},"viewsSlideshowPagerFields":{"home_slider-block":{"bottom":{"activatePauseOnHover":0}}},"viewsSlideshowCycle":{"#views_slideshow_cycle_main_home_slider-block":{"num_divs":4,"id_prefix":"#views_slideshow_cycle_main_","div_prefix":"#views_slideshow_cycle_div_","vss_id":"home_slider-block","effect":"fade","transition_advanced":0,"timeout":5000,"speed":700,"delay":0,"sync":1,"random":0,"pause":1,"pause_on_click":0,"action_advanced":0,"start_paused":0,"remember_slide":0,"remember_slide_days":1,"pause_when_hidden":0,"pause_when_hidden_type":"full","amount_allowed_visible":"","nowrap":0,"fixed_height":1,"items_per_slide":1,"wait_for_image_load":1,"wait_for_image_load_timeout":3000,"cleartype":0,"cleartypenobg":0,"advanced_options":"{}","advanced_options_choices":0,"advanced_options_entry":""},"#views_slideshow_cycle_main_news_and_events-block_2":{"num_divs":3,"id_prefix":"#views_slideshow_cycle_main_","div_prefix":"#views_slideshow_cycle_div_","vss_id":"news_and_events-block_2","effect":"fade","transition_advanced":1,"timeout":8000,"speed":700,"delay":0,"sync":1,"random":0,"pause":1,"pause_on_click":0,"action_advanced":0,"start_paused":0,"remember_slide":0,"remember_slide_days":1,"pause_when_hidden":0,"pause_when_hidden_type":"full","amount_allowed_visible":"","nowrap":0,"fixed_height":1,"items_per_slide":1,"wait_for_image_load":1,"wait_for_image_load_timeout":3000,"cleartype":0,"cleartypenobg":0,"advanced_options":"{}","advanced_options_choices":0,"advanced_options_entry":""}},"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip"},"superfish":{"1":{"id":"1","sf":{"animation":{"opacity":"show"},"speed":"\u0027fast\u0027","autoArrows":false,"dropShadows":false,"disableHI":false},"plugins":{"supposition":true,"bgiframe":false,"supersubs":{"minWidth":"12","maxWidth":"27","extraWidth":1}}}},"clientsideValidation":{"forms":{"webform-client-form-205":{"errorPlacement":"1","general":{"errorClass":"error","wrapper":"li","validateTabs":0,"scrollTo":1,"scrollSpeed":"1000","disableHtml5Validation":"1","validateOnBlur":"1","validateOnBlurAlways":"0","validateOnKeyUp":"1","validateOnSubmit":"1","showMessages":"0","errorElement":"label"},"rules":{"submitted[email___id]":{"required":true,"messages":{"required":"Email Address field is required.","email":"Please enter a valid email address."},"email":true},"submitted[frgy]":{"oneOf":{"values":[""],"caseSensitive":true},"messages":{"oneOf":"frgy field must be empty."}}}}},"general":{"usexregxp":0},"groups":{"webform-client-form-205":{}}}});
//--><!]]>
    </script>
</head>
<body class="html front not-logged-in no-sidebars page-node page-node- page-node-327 node-type-static-pages">
    <div id="wrap" class="clearfix">
        <div class="region region-top-headerup" id="privacy">
            <div id="block-block-3" class="block block-block"><div class="content">
                    <div id="cookie-banner" class="twelvecol">
                        <a id="cookie-banner-close-button" class="btn btn-inline btn-white btn-close" onclick="ClosePrivacyPolicy()">✖</a>
                        <div id="cookie-banner-text">
                            Our site uses cookies for analytics. If you're unsure about it, take a look at our <a class="cookie-banner-link" href="/Home/Privacy">privacy policy</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function ClosePrivacyPolicy() {
                jQuery("#privacy").hide();
            }
        </script>
        <header id="header" class="clearfix">
            <hgroup id="logo">
                <div id="logoimg" style="width:50px;height:50px"><a href="/" title="Versatile"><img src="~/Images/Logo.png" width="50" height="50"></a></div>
                <div id="sitename"><a href="/" title="Versatile">Versatile Group</a></div>

            </hgroup>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
            <div class="region region-top-header">
                <div id="block-block-2" class="block block-block">


                    <div class="content">
                        <ul>
                            <li><a href="/blog"><img title="Blog" alt="Blog" src="~/Images/sblog.png" style="width:25px;height:25px" /></a></li>
                            <li>
                                <a href="https://www.facebook.com/TavantTechnologies" target="_blank">
                                    <img title="Facebook" src="~/Images/sfb.png" style="width:25px;height:25px" />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/tavant" target="_blank">
                                    <img title="Twitter" src="~/Images/stwit.png" style="width:25px;height:25px" />
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+Tavant" target="_blank">
                                    <img title="Google Plus" src="~/Images/sgplus.png" style="width:25px;height:25px" />
                                </a>
                            </li>
                            <li>
                                <a href="http://www.youtube.com/TavantTechnologies" target="_blank">
                                    <img title="You Tube" src="~/Images/syou.png" style="width:25px;height:25px" />
                                </a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/company/tavant-technologies" target="_blank">
                                    <img title="Linkedin" src="~/Images/sin.png" style="width:25px;height:25px" />
                                </a>
                            </li>
                        </ul>
                    </div>

                </div> <!-- /.block -->
            </div>
            <!-- /.region -->
            <div class="region region-navigation" >
                <div id="block-superfish-1" class="block block-superfish">

                    <h2>Main menu</h2>
                    <div class="content">
                        <ul id="superfish-1" class="menu sf-menu sf-main-menu sf-horizontal sf-style-default sf-total-items-4 sf-parent-items-4 sf-single-items-0">
                            <li id="menu-571-1" class="active-trail first odd sf-item-1 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent">
                                <a href="/" title="" class="sf-depth-1 menuparent active">Home</a>
                            </li>
                            <li id="menu-578-1" class="active-trail middle even sf-item-2 sf-depth-1 sf-total-children-5 sf-parent-children-0 sf-single-children-5 menuparent">
                                <a href="/" title="" class="sf-depth-1 menuparent active">Industries</a><ul>
                                    <li id="menu-572-1" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="/consumer-lending" class="sf-depth-2">Consultancy Services</a></li>
                                    <li id="menu-574-1" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="/manufacturing" class="sf-depth-2">Software Engineering</a></li>

                                </ul>
                            </li>
                            <li id="menu-578-1" class="active-trail middle even sf-item-2 sf-depth-1 sf-total-children-5 sf-parent-children-0 sf-single-children-5 menuparent">
                                <a href="/" title="" class="sf-depth-1 menuparent active">Services</a><ul>
                                    <li id="menu-580-1" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="/business-intelligence" class="sf-depth-2">Staffing Solutions</a></li>
                                    <li id="menu-581-1" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="/mobility" class="sf-depth-2">Application Development</a></li>
                                    <li id="menu-575-1" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="/manufacturing" class="sf-depth-2">Software Testing</a></li>
                                </ul>
                            </li>
                            <li id="menu-583-1" class="active-trail middle odd sf-item-3 sf-depth-1 sf-total-children-5 sf-parent-children-0 sf-single-children-5 menuparent">
                                <a href="/" title="" class="sf-depth-1 menuparent active">Careers</a>
                            </li>
                            <li id="menu-592-1" class="active-trail last even sf-item-4 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent">
                                <a href="/" title="" class="sf-depth-1 menuparent active">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                </div> <!-- /.block -->
            </div>
            <!-- /.region -->
        </header>

        @RenderBody()
        <div class="floatin-menu">
            <div class="region region-footer">
                <div id="block-block-5" class="block block-block">
                    <div class="content">
                        <p><a href="/about-us">About Us</a>|<a href="/awards">Awards</a>|<a href="/testimonials">Customers &amp; Testimonials</a>|<a href="/news-and-events">News &amp; Events</a>|<a href="/careers">Careers</a>|<a href="/contact-us">Contact Us</a></p>
                        <script type="text/javascript">
                        // <![CDATA[
                        jQuery(document).ready(function () {

                            var original_position_offset = jQuery('.region-footer').offset();
                            sticky_offset = original_position_offset.top;
                            jQuery('.region-footer').css('position', 'fixed');
                            // every the page is loaded //
                            fixscrolltofoot();
                        });

                        jQuery(window).scroll(function () {
                            // every time the window scrolls //
                            var original_position_offset = jQuery('.floatin-menu').offset();
                            sticky_offset = original_position_offset.top;
                            fixscrolltofoot();

                        });

                        function fixscrolltofoot() {
                            var sticky_height = jQuery('.region-footer').outerHeight();
                            var where_scroll = jQuery(window).scrollTop();
                            var window_height = jQuery(window).height();


                            if ((where_scroll + window_height) > sticky_offset) {
                                jQuery('.region-footer').css('position', 'relative');
                            }

                            if ((where_scroll + window_height) < (sticky_offset + sticky_height)) {
                                jQuery('.region-footer').css('position', 'fixed');
                            }
                        }
                        // ]]></script>
                    </div>

                </div> <!-- /.block -->
            </div>
            <!-- /.region -->
        </div>
        <div id="footer-wrap" class="clearfix">
            <div id="footer">
                <div id="footer-block-wrap" class="clearfix">
                    <div id="footer-one">
                        <div class="region region-footer-first">
                            <div id="block-footer-sitemap-footer-sitemap" class="block block-footer-sitemap">

                                <h2>sitemap</h2>

                                <div class="content">
                                    <div id="footer-sitemap" class="clearfix">
                                        <div class="fs-block-content">
                                            <div class="main-menu">
                                                <ul class="footer_links_main-menu total-items-4 parent-items-0 single-items-0">
                                                    <li class="menu-571 depth-1 total-children-4 parent-children-0 single-children-4  first  active">
                                                        <a href="/" title="" class="fs-root-link active">Industries</a><ul class="footer_links_main-menu total-items-4 parent-items-0 single-items-0">
                                                            <li class="menu-572 depth-1 fs-no-children  first"><a href="/consumer-lending" class="sf-depth-2">Consultancy Services</a></li>
                                                            <li class="menu-574 depth-1 fs-no-children"><a href="/manufacturing" class="sf-depth-2">Software Engineering</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-578 depth-1 total-children-5 parent-children-0 single-children-5  active">
                                                        <a href="/" title="" class="fs-root-link active">Services</a><ul class="footer_links_main-menu total-items-5 parent-items-0 single-items-0">
                                                            <li class="menu-580 depth-1 fs-no-children  first"><a href="/business-intelligence" class="sf-depth-2">Staffing Solutions</a></li>
                                                            <li class="menu-581 depth-1 fs-no-children"><a href="/mobility" class="sf-depth-2">Software Development</a></li>
                                                            <li class="menu-582 depth-1 fs-no-children"><a href="/mobility" class="sf-depth-2">Software Testing</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-583 depth-1 total-children-5 parent-children-0 single-children-5  active">
                                                        <a href="/" title="" class="fs-root-link active">Motto</a><ul class="footer_links_main-menu total-items-5 parent-items-0 single-items-0">
                                                            <li class="menu-1321 depth-1 fs-no-children  first"><a href="/velox" class="sf-depth-2">Versatile Staffing Solutions</a></li>
                                                            <li class="menu-1311 depth-1 fs-no-children"><a href="/velox/finconnect" class="sf-depth-2">Versatile Software Solutions</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-592 depth-1 total-children-4 parent-children-0 single-children-4  last  active">
                                                        <a href="/" title="" class="fs-root-link active">People</a><ul class="footer_links_main-menu total-items-4 parent-items-0 single-items-0">
                                                            <li class="menu-614 depth-1 fs-no-children  first"><a href="/testimonials" title="" class="sf-depth-2">Customers &amp; Testimonials</a></li>
                                                            <li class="menu-594 depth-1 fs-no-children"><a href="/management-team" class="sf-depth-2">Management Team</a></li>
                                                            <li class="menu-678 depth-1 fs-no-children"><a href="/blog" title="">Blog</a></li>
                                                            <li class="menu-596 depth-1 fs-no-children  last"><a href="/social-responsibility" class="sf-depth-2">Social Responsibility</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- /.block -->
                        </div>
                        <!-- /.region -->
                    </div>
                    <div id="footer-two">
                        <div class="region region-footer-second">
                            <div id="block-block-1" class="block block-block">


                                <div class="content">
                                    <h5>CORPORATE</h5>
                                    <p><a class="links" href="/about-us" target="_self">About Us</a></p>
                                    <p><a class="links" href="/awards" target="_self">Awards</a></p>
                                    <p><a class="links" href="/news-and-events" target="_self">News &amp; Events</a></p>
                                    <p><a class="links" href="/contact-us" target="_self">Contact Us</a></p>
                                    <p><a class="links" href="/careers" target="_self">Careers</a></p>
                                </div>

                            </div> <!-- /.block -->
                        </div>
                        <!-- /.region -->
                    </div>

                    <div class="clear"></div>
                </div>
                <div id="footer-bottom" class="clearfix">
                    <div id="copyright" class="clearfix"></div>
                    <div id="back-to-top" class="clearfix">
                        <div class="region region-footer-bottom">
                            <div id="block-webform-client-block-205" class="block block-webform">

                                <h2>Subscribe to newsletter</h2>

                                <div class="content">
                                    <form class="webform-client-form" enctype="multipart/form-data" action="/content/subscribe-newsletter" method="post" id="webform-client-form-205" accept-charset="UTF-8">
                                        <div>
                                            <div class="form-item webform-component webform-component-email webform-container-inline" id="webform-component-email---id">
                                                <label for="edit-submitted-email-id">Email Address <span class="form-required" title="This field is required.">*</span></label>
                                                <input class="email form-text form-email required" placeholder="Email Address" type="email" id="edit-submitted-email-id" name="submitted[email___id]" size="60" />
                                            </div>
                                            <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="S" class="form-submit" /></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="back-to-footertop" class="clearfix">
            <div class="region region-footer-bottomdown">
                <div id="block-block-6" class="block block-block">
                    <div class="content">
                        <div id="copy-rgt">©Versatile Group Inc. All rights reserved. <a href="/Home/disclaimer">Disclaimer</a> | <a href="/Home/privacy">Privacy Policy</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>